mixin menu(data)
  .menu.jsMenuList
    a(href="#about" title="").menu-block
      .menu-block__content._about
        .menu-block__title О компании

    a(href="#services" title="").menu-block
      .menu-block__content._services
        .menu-block__title Услуги

    a(href="#partners" title="").menu-block
      .menu-block__content._partners
        .menu-block__title Партнеры

    a(href="#contacts" title="").menu-block
      .menu-block__content._contacts
        .menu-block__title Контакты