.menu {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;

  display: flex;
  visibility: hidden;

  width: 100%;
  height: 100%;

  opacity: 0;
  background-color: rgba(#000203, .5);

  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
  @include transition;
  &:before {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    content: "";

    background-color: rgba(#323556, .5);
  }
  &._active {
    visibility: visible;

    opacity: 1;
  }
}

.menu-block {
  position: relative;
  z-index: 2;

  box-sizing: border-box;
  width: 50%;

  text-decoration: none;

  border: 1px solid rgba($white, .5);

  @include transition;
  &:hover {
    background-color: rgba($purple, .9);
  }
  &__content {
    @include absolute-center;
    @media screen and (max-width: 960px) {
      width: 90%;
    }
    &:before {
      position: relative;

      display: block;

      margin: auto;
      margin-bottom: 48px;

      content: "";
      @media screen and (max-width: 740px) {
        margin-bottom: 16px;

        transform: scale(.7);
      }
      @media screen and (max-width: 570px) and (orientation: landscape) {
        margin-bottom: 0;
      }
    }
    &._about {
      border-top: 0;
      border-left: 0;
      &:before {
        @include bg-svg($about-icon);
      }
    }
    &._services {
      border-top: 0;
      border-right: 0;
      &:before {
        @include bg-svg($services-icon);
      }
    }
    &._partners {
      border-bottom: 0;
      border-left: 0;
      &:before {
        @include bg-svg($partners-icon);
      }
    }
    &._contacts {
      border-right: 0;
      border-bottom: 0;
      &:before {
        @include bg-svg($contacts-icon);
      }
    }
  }
  &__title {
    letter-spacing: .05em;
    text-transform: uppercase;

    color: $white;

    font-family: $Code-Pro-Bold;
    font-size: 38px;
    line-height: 33px;;
    @media screen and (max-width: 960px) {
      text-align: center;

      font-size: 18px;
    }
    @media screen and (max-width: 320px) {
      font-size: 18px;
    }
  }
}
