mixin section-top(data)
  .section-top.section
    h1.section-top__title.title._h1 ООО «Нортех» — <br>традиции и инновации
    a(href="tel:+79268205108" title="").phone +7 (926) 820-51-08
    .change-language
      span.change-language__item._active RU
      span.change-language__separator /
      a(href="#" title="").change-language__item EN
    a(href="#" title="").next Далее
    .drawing
      .section-top-drawing-1
      .section-top-drawing-2
      .section-top-drawing-3
      .section-top-drawing-4