html.fp-enabled,
.fp-enabled body {
  overflow: hidden;

  margin: 0;
  padding: 0;
  /*Avoid flicker on slides transitions for mobile phones #336 */

  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
#superContainer {
  position: relative;

  height: 100%;
  /* Touch detection for Windows 8 */

  -ms-touch-action: none;
  /* IE 11 on Windows Phone 8.1*/
      touch-action: none;
}
.fp-section {
  position: relative;

  -webkit-box-sizing: border-box; /* Safari<=5 Android<=3 */
     -moz-box-sizing: border-box; /* <=28 */
          box-sizing: border-box;
}
.fp-slide {
  float: left;
}
.fp-slide,
.fp-slidesContainer {
  display: block;

  height: 100%;
}
.fp-slides {
  position: relative;
  z-index: 1;

  overflow: hidden;

  height: 100%;

  -webkit-transition: all .3s ease-out; /* Safari<=6 Android<=4.3 */
          transition: all .3s ease-out;
}
.fp-section.fp-table,
.fp-slide.fp-table {
  display: table;

  width: 100%;

  table-layout: fixed;
}
.fp-tableCell {
  display: table-cell;

  width: 100%;
  height: 100%;

  vertical-align: middle;
}
.fp-slidesContainer {
  position: relative;

  float: left;
}
.fp-controlArrow {
  position: absolute;
  z-index: 4;
  top: 50%;

  width: 0;
  height: 0;
  margin-top: -38px;

  cursor: pointer;
  -webkit-user-select: none; /* webkit (safari, chrome) browsers */
     -moz-user-select: none; /* mozilla browsers */
      -ms-user-select: none; /* IE10+ */
  -webkit-transform: translate3d(0,0,0);
      -ms-transform: translate3d(0,0,0);
          transform: translate3d(0,0,0);

  border-style: solid;

  -khtml-user-select: none; /* webkit (konqueror) browsers */
  &.fp-prev {
    left: 15px;

    width: 0;

    border-width: 38.5px 34px 38.5px 0;
    border-color: transparent #fff transparent transparent;
  }
  &.fp-next {
    right: 15px;

    border-width: 38.5px 0 38.5px 34px;
    border-color: transparent transparent transparent #fff;
  }
}
.fp-scrollable {
  overflow: scroll;
}
.fp-notransition {
  -webkit-transition: none !important;
          transition: none !important;
}
.fp-slidesNav {
  position: absolute;
  z-index: 4;
  left: 50%;

  opacity: 1;
  &.bottom {
    bottom: 17px;
  }
  &.top {
    top: 17px;
  }
}

#fp-nav ul,
.fp-slidesNav ul {
  margin: 0;
  padding: 0;

  list-style: none;
  &._active {
    li {
      a {
        color: $purple;
        background-color: $purple;
        &.active {
          border: 2px solid $purple;
        }
      }
    }
  }
  li {
    position: relative;

    display: block;

    width: 10px;
    height: 10px;
    margin-bottom: 23px;
    a {
      position: relative;
      z-index: 1;

      display: block;

      width: 7px;
      height: 7px;

      cursor: pointer;
      text-decoration: none;

      color: $white;
      border-radius: 50%;
      background-color: $white;

      @include absolute-center;
      @include transition;
      &.active {
        box-sizing: border-box;
        width: 10px;
        height: 10px;

        border: 2px solid $white;
        background-color: transparent;
      }
      &:hover {
        width: 10px;
        height: 10px;
      }
    }
  }
}
#fp-nav {
  position: fixed;
  z-index: 100;
  z-index: 88;
  top: 50%;

  margin-top: -32px;

  -webkit-transform: translate3d(0,0,0);

  opacity: 1;
  &.right {
    right: 17px;
  }
  &.left {
    left: 17px;
  }
  ul {
    li {
      .fp-tooltip {
        position: absolute;
        top: -4px;

        display: block;
        overflow: hidden;

        width: 0;
        max-width: 220px;

        cursor: pointer;
        white-space: nowrap;
        text-transform: uppercase;

        opacity: 0;
        color: #fff;

        font-family: $Oswald-Light;
        font-size: 14px;

        @include transition;
        &.right {
          right: 20px;
        }
      }
      &:hover {
        .fp-tooltip {
          width: auto;

          -webkit-transition: opacity .2s ease-in;
                  transition: opacity .2s ease-in;

          opacity: 1;
        }
      }
    }
  }
  &.fp-show-active a.active + .fp-tooltip {
    width: auto;

    -webkit-transition: opacity .2s ease-in;
            transition: opacity .2s ease-in;

    opacity: 1;
  }
}
.fp-slidesNav ul li {
  display: inline-block;
}
.fp-auto-height.fp-section,
.fp-auto-height .fp-slide,
.fp-auto-height .fp-tableCell {
  height: auto !important;
}

.fp-responsive .fp-auto-height-responsive.fp-section,
.fp-responsive .fp-auto-height-responsive .fp-slide,
.fp-responsive .fp-auto-height-responsive .fp-tableCell {
  height: auto !important;
}
