.footer {
  position: absolute;
  z-index: 20;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 60px;

  opacity: .9;
  background-color: rgba($black, .5);

  @include transition;
  &:hover {
    opacity: 1;
  }
  &:before {
    position: absolute;
    top: 0;
    left: 0;

    display: block;

    width: 100%;
    height: 100%;

    content: "";

    background-color: rgba(#000a61, .5);
  }
  &__text {
    text-align: center;

    color: $white;

    font-family: $Oswald-Regular;
    font-size: 16px;

    @include absolute-center;
    @media screen and (max-width: 420px) {
      box-sizing: border-box;
      width: 100%;
      padding: 0 50px;

      font-size: 14px;
    }
    a {
      text-decoration: none;

      color: rgba($light-green, .8);

      @include transition;
      &:hover {
        color: $light-green;
      }
    }
  }
}
