#fp-nav {
  margin-top: 0 !important;
  margin-right: 35px;

  transform: translateY(-45%) !important;

  @include transition;
  @media screen and (max-width: 768px) {
    display: none !important;
  }
  &.purple {
    ul {
      li {
        a {
          border-color: $purple;
          &.active {
            background-color: $purple;
          }
        }
      }
    }
  }
  ul {
    list-style: none;
    li {
      padding-bottom: 15px;
      a {
        display: block;

        box-sizing: border-box;
        width: 16px;
        height: 16px;

        border: 3px solid $white;
        border-radius: 50%;
        &.active {
          background-color: $white;
        }
      }
      span {
        visibility: hidden;

        opacity: 0;
      }
    }
  }
}
