.header {
  position: fixed;
  z-index: 99;
  top: 0;
  right: 0;
  left: 0;

  display: flex;

  box-sizing: border-box;
  padding: 50px;

  justify-content: space-between;
  align-items: center;
  @media screen and (max-width: 740px) {
    padding: 15px 20px;
  }
  &__logo {
    display: block;

    text-indent: -9999px;
    &._white {
      @include bg-svg($logo-white);
      @media screen and (max-width: 740px) {
        @include bg-svg($logo-white-mobile);
      }
    }
    &._purple {
      @include bg-svg($logo-purple);
      @media screen and (max-width: 740px) {
        @include bg-svg($logo-purple-mobile);
      }
    }
  }
  &__menu {
    z-index: 100;

    display: block;

    text-indent: -9999px;
    &._white {
      @include bg-svg($menu-white);
    }
    &._purple {
      @include bg-svg($menu-purple);
    }
    &._active {
      @include bg-svg($menu-close-white);
    }
  }
}
