.header {
  position: fixed;
  z-index: 99;
  top: 0;
  right: 0;
  left: 0;

  display: flex;

  box-sizing: border-box;
  padding: 50px;

  justify-content: space-between;
  align-items: center;
  @media screen and (max-width: 740px) {
    padding: 15px 20px;
  }
  &__logo {
    display: block;

    text-indent: -9999px;
    &._white {
      @include bg-svg($logo-white);
      @media screen and (max-width: 740px) {
        @include bg-svg($logo-white-mobile);
      }
    }
    &._purple {
      @include bg-svg($logo-purple);
      @media screen and (max-width: 740px) {
        @include bg-svg($logo-purple-mobile);
      }
    }
  }
}

.header-menu {
  position: relative;
  z-index: 100;

  display: block;

  width: 38px;
  height: 38px;

  text-indent: -9999px;

  border-radius: 50%;
  &__line {
    @include absolute-center;
    @include transition;
    &:before,
    &:after {
      display: block;

      content: "";

      @include horizontal-center;
      @include transition;
    }
    &:before {
      top: -4px;
    }
    &:after {
      bottom: -4px;
    }
  }
  &:hover {
    .header-menu__line {
      &:before {
        top: -6px;
      }
      &:after {
        bottom: -6px;
      }
    }
  }
  &._white {
    border: 1.4px solid $white;
    .header-menu__line {
      @include bg-svg($menu-line-white);
      &:before,
      &:after {
        @include bg-svg($menu-line-white);
      }
    }
  }
  &._purple {
    border: 2px solid $purple;
    .header-menu__line {
      @include bg-svg($menu-line-purple);
      &:before,
      &:after {
        @include bg-svg($menu-line-purple);
      }
    }
  }
  &._active {
    @include transition;
    .header-menu__line {
      visibility: hidden;

      opacity: 0;
    }
    &:before {
      width: 12px;
      height: 12px;

      content: "";

      background: url(%=static=%minified-svg/menu-close-white.svg) no-repeat center;

      @include absolute-center;
    }
    &:hover {
      transform: rotate(180deg);
    }
  }
}
