.form {
  position: relative;

  width: 100%;
  max-width: 240px;
  margin: auto;
}

.form-element {
  position: relative;

  width: 100%;
  height: 60px;

  border-bottom: 2px solid $light-green;

  @include transition;
  &._error {
    border-bottom-color: $rose;
  }
  &._textarea {
    margin-bottom: 96px;

    resize: none;
    @media screen and (max-width: 320px) {
      margin-bottom: 20px;
    }
    &._error {
      border-bottom: 2px solid $light-green;
    }
    .form-element-placeholder {
      top: 10px;

      transform: translateY(0);

      @include horizontal-center;
    }
  }
  input,
  textarea {
    position: absolute;
    z-index: 2;

    box-sizing: border-box;
    width: 100%;
    width: 100%;
    height: 100%;

    text-align: center;

    color: $white;
    border: 0;
    background-color: transparent;

    font-family: $Oswald-Regular;
    font-size: 24px;
    &:focus {
      outline: none;
    }
  }
}

.form-element-placeholder {
  z-index: 1;

  visibility: visible;

  width: 100%;

  text-align: center;

  opacity: 1;
  color: $white;

  font-family: $Oswald-Regular;
  font-size: 24px;

  @include absolute-center;
  @include transition;
  &._hide {
    visibility: hidden;

    opacity: 0;
  }
}

.form-element-error {
  position: absolute;
  right: -130px;
  bottom: -10px;

  visibility: visible;

  width: 110px;

  opacity: 1;
  color: $white;

  font-family: $Oswald-Light;
  font-size: 16px;
  line-height: 19px;

  @include transition;
  @media screen and (max-width: 740px) {
    display: none;
  }
  &:before {
    position: absolute;
    top: 3px;
    left: -10px;

    content: "*";
  }
  &._hide {
    visibility: hidden;

    opacity: 0;
  }
}
