mixin form(data)
  form.form.jsForm(novalidate)
    .form-element
      input(type="text" placeholder="Как Вас зовут?" required).jsFormField
      .form-element-error._hide поле обязательно для заполнения

    .form-element
      input(type="text" placeholder="Телефон / Email" required).jsFormField
      .form-element-error._hide поле обязательно для заполнения

    .form-element._textarea
      textarea(placeholder="Ваше сообщение").jsFormField

    .form-submit
      input(type="submit" value="Отправить" name="send").button.jsFormSubmit