.section-partners {
  &__content {
    z-index: 3;

    @include absolute-center;
    @media screen and (max-width: 420px) {
      width: 90%;
    }
    @media screen and (max-width: 580px) and (orientation: landscape) {
      width: 90%;
    }
  }
  &__title {
    margin-bottom: 90px;
    @media screen and (max-width: 420px) {
      margin-bottom: 40px;
    }
    @media screen and (max-width: 740px) and (orientation: landscape) {
      margin-bottom: 0;
    }
    @media screen and (max-width: 580px) and (orientation: landscape) {
      margin-bottom: 20px;
    }
  }
  &__molot {
    margin: 0 auto 90px;

    @include bg-svg($partner-molot);
    @media screen and (max-width: 420px) {
      margin-bottom: 40px;

      @include bg-svg($partner-molot-mobile);
    }
    @media screen and (max-width: 740px) and (orientation: landscape) {
      margin-bottom: 0;

      transform: scale(.6);
    }
    @media screen and (max-width: 580px) and (orientation: landscape) {
      margin-bottom: 20px;

      @include bg-svg($partner-molot-mobile);
    }
  }
}

.section-partners-drawing-1 {
  bottom: -47px;
  left: -53px;

  @include bg-svg($section-partners-drawing-1);
}

.section-partners-drawing-2 {
  top: 23px;
  right: 5px;

  @include bg-svg($section-partners-drawing-2);
}
