mixin section-partners(data)
  .section.section-partners
    .section-partners__content
      h2.section-partners__title.title._h2 Наш постоянный <br>партнер

      .section-partners__molot

      .section-partners__text
        p ООО «Молот-Оружие» создано в 2009 году на базе ОАО «ВПМЗ «Молот» и является его правопреемником. Завод расположен в городе Вятские Поляны, имея выгодное географическое расположение: менее 200 км от таких городов как Казань, Ижевск, Набережные Челны. Также завод имеет развитую инфраструктуру, включая железнодорожный и автомобильный транспорт.

    .drawing
      .section-partners-drawing-1
      .section-partners-drawing-2