mixin section-services(data)
  .section.section-services
    .section-services__content
      h2.section-services__title.title._h2 Услуги

      .section-services-list
        //- Маркетинговые решения
        .section-services-item
          .section-services-item__top
            h3.section-services-item__title.title._h3 Маркетинговые решения
            .section-services-item__line
          .section-services-item__bottom
            p и продвижение продукции на рынке <br>гражданского стрелкового оружия

        //- Торговля оружием
        .section-services-item
          .section-services-item__top
            h3.section-services-item__title.title._h3 Торговля оружием
            .section-services-item__line
          .section-services-item__bottom
            p запасными частями и <br>сопутствующими изделиями

        //- Производство деталей
        .section-services-item
          .section-services-item__top
            h3.section-services-item__title.title._h3 Производство деталей
            .section-services-item__line
          .section-services-item__bottom
            p и комплектующих к <br>огнестрельному оружию

    .drawing
      .section-services-drawing-1
      .section-services-drawing-2