.section-services {
  &__content {
    z-index: 3;

    @include absolute-center;
    @media screen and (max-width: 420px) {
      width: 90%;
    }
    @media screen and (max-width: 740px) and (orientation: landscape) {
      width: 90%;
    }
  }
}

.section-services-list {
  display: flex;

  margin-top: 60px;

  justify-content: center;
  align-items: stretch;
  @media screen and (max-width: 420px) {
    display: block;

    width: 100%;
    margin: 30px auto 0;
  }
  @media screen and (max-width: 740px) and (orientation: landscape) {
    margin-top: 20px;
  }
}

.section-services-item {
  margin-right: 130px;
  @media screen and (max-width: 420px) {
    margin-right: 0;
  }
  @media screen and (max-width: 740px) and (orientation: landscape) {
    position: relative;

    max-width: 120px;
    margin-right: 90px;
  }
  @media screen and (max-width: 580px) and (orientation: landscape) {
    max-width: 120px;
    margin-right: 30px;
  }
  &:last-child {
    margin-right: 0;
    .section-services-item__bottom {
      @media screen and (max-width: 420px) {
        margin-bottom: 0;
      }
    }
  }
  &__top {
    position: relative;

    @include bg-svg($hexagon-medium);
    @media screen and (max-width: 420px) {
      width: auto;
      height: auto;

      background: none;
    }
    @media screen and (max-width: 740px) and (orientation: landscape) {
      @include bg-svg($hexagon-medium-mobile);
    }
  }
  &__title {
    @include absolute-center;
    @media screen and (max-width: 420px) {
      position: relative;
      top: 0;
      left: 0;

      transform: translate(0);
    }
  }
  &__line {
    position: absolute;
    bottom: -40px;

    width: 1px;
    height: 102px;

    background-color: rgba($white, .7);

    @include horizontal-center;
    @media screen and (max-width: 420px) {
      display: none;
    }
    @media screen and (max-width: 740px) and (orientation: landscape) {
      display: none;
    }
  }
  &__bottom {
    margin-top: 73px;
    @media screen and (max-width: 420px) {
      margin-top: 10px;
      margin-bottom: 40px;
    }
    @media screen and (max-width: 740px) and (orientation: landscape) {
      width: 200%;
      margin-top: -20px;

      @include horizontal-center;
    }
    @media screen and (max-width: 580px) and (orientation: landscape) {
      width: 100%;
      margin-top: -20px;
    }
  }
}

.section-services-drawing-1 {
  top: -175px;
  left: 278px;

  @include bg-svg($section-services-drawing-1);
}
.section-services-drawing-2 {
  right: 10px;
  bottom: -28px;

  @include bg-svg($section-services-drawing-2);
}
