mixin section-about(data)
  .section.section-about
    .section-about__content
      h2.section-about__title.title._h2 О компании
      .section-about__text
        p «Нортех» - это молодая и перспективная компания на рынке российского огнестрельного оружия. С момента своего появления наша компания зарекомендовала себя как ответственный исполнитель и надежный партнер. Основным направлением деятельности компании является производство огнестрельного оружия, деталей и комплектующих к нему. Опираясь на опыт отечественных и мировых производителей, «Нортех» стремится к совершенству, используя современные материалы и технологии. «Нортех» всегда открыт для предложений и готов к сотрудничеству!
    .drawing
      .section-about-drawing-1
      .section-about-drawing-2