.section-about {
  &__content {
    z-index: 3;

    max-width: 495px;

    @include absolute-center;
    @media screen and (max-width: 740px) {
      width: 90%;
    }
  }
  &__title {
    margin-bottom: 50px;
    @media screen and (max-width: 420px) {
      margin-bottom: 20px;
    }
    @media screen and (max-width: 740px) and (orientation: landscape) {
      margin-bottom: 20px;
    }
  }
}

.section-about-drawing-1 {
  top: 73px;
  left: -309px;

  @include bg-svg($section-about-drawing-1);
  @media screen and (max-width: 420px) {
    top: -12%;
  }
}

.section-about-drawing-2 {
  right: 277px;
  bottom: -180px;

  @include bg-svg($section-about-drawing-2);
  @media screen and (max-width: 420px) {
    right: 50%;
    bottom: -22%;
  }
}
